body, html{
    margin: 0px;
    padding: 0px;
}
*{
    position: relative;
    width: auto;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Barlow-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Barlow-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-SemiBold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Barlow-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Medium";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Barlow-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Barlow-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Light";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Barlow-Light.ttf") format('truetype');
}

/*************************************************/

@font-face {
    font-family: "SuraSans-Thin";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Fina.otf") format('opentype');
}

@font-face {
    font-family: "SuraSans-Light";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Ligera.otf") format('opentype');
}

@font-face {
    font-family: "SuraSans-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Regular.otf") format('opentype');
}

@font-face {
    font-family: "SuraSans-SemiBold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Seminegrita.otf") format('opentype');
}

@font-face {
    font-family: "SuraSans-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Negrita.otf") format('opentype');
}

@font-face {
    font-family: "SuraSans-Heavy";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SuraSans-Extranegrita.otf") format('opentype');
}
